@use "../base";

.work {
  grid-column: span 6;
  margin-block: 6rem;
  flex-direction: column;
  align-items: center;
  text-align: left;
  // --gap: 2rem;
}

.coming-soon {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0.7rem 1.4rem;
  background-color: var(--clr-purple);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-end-end-radius: inherit;
  border-end-start-radius: inherit;
  text-align: center;
}

.work-img {
  border-radius: 20px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.395);
  width: 60rem;
}

.work picture {
  position: relative;
  border-radius: 20px;
}

.link {
  color: var(--clr-black);
  font-weight: 600;
  text-decoration: none;

  &:hover,
  :active {
    color: var(--clr-purple);
    text-decoration: underline;
  }

  // &:visited {
  //   color: var(--clr-purple);
  // }
}

.workflow {
  max-width: 70rem;
}

@media (min-width: 55em) {
  .work {
    --gap: 3rem;
    padding-inline: 3rem;
    margin-block-end: 12rem;
  }
}
